nav {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 3rem;
}

nav > a {
    font: 600 1.7rem cursive;
    color: rgb(37,105,208);
    text-decoration: none;
    margin: 0 1rem;
}